@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#85A7BA, #EBBED3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.container {
    background-color: #b1c6f6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.container h3 {
    text-align: center;
    margin-bottom: 20px;
}