@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: #85A7BA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.container h1{
    text-align: center;
    margin-bottom: 20px;
}
  
label{
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"], input[type="date"], input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3E3E3E;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
  
input[type="submit"]:hover{
    background-color: #A0937D;
}  