@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    background-color: #FFF5CC;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
}

.nav-items a {
    padding: 16px;
    text-decoration: none;
    color: black;
}

.logo img {
    width: 190px;
}

.hero img {
    display: flex;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    z-index: -1;
    filter: brightness(70%);
}

.hero-title {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50% ,-50%);
}

.hero-title h1{
    color: white;
    text-align: left;
    font-size: 50px;
}

.tagline {
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    top: 70%;
    left: 73%;
}
.tagline p{
    color: white;
    font-size: 16px;
    text-align: left;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card {
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 8px;
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF5CC;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image {
    float: right;
    width: 40%;
}

.image img {
    width: 100%;
    height: auto;
}

.content-section .title {
    font-size: 28px;
}

.content-section .content h3 {
    margin-top: 20px;
    color: #5A658B;    
}

.content-section .content p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}